@import url("./back-to-top.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: #fff;
}

.btn-openmenu {
  border: none;
  /* color: #fff; */
}

.btn-openmenu:focus {
  outline: none;
  box-shadow: none;
}

.btn-closemenu:focus {
  outline: none;
  box-shadow: none;
}

.nav-slide {
  background-color: #333;
  border-right: #333 2px solid;
  border-left: #333 2px solid;
  border-bottom: #333 2px solid;
}
