@import url("./back-to-top.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: #fff;
}

.btn-openmenu {
  border: none;
  /* color: #fff; */
}

.btn-openmenu:focus {
  outline: none;
  box-shadow: none;
}

.btn-closemenu:focus {
  outline: none;
  box-shadow: none;
}
