@import url("./back-to-top-btn.css");

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.btn-openmenu {
  border: none;
  /* color: #fff; */
}

.btn-openmenu:focus {
  outline: none;
  box-shadow: none;
}

.btn-closemenu:focus {
  outline: none;
  box-shadow: none;
}
